.container {
    display: flex;
    gap: 20px;
}

.card {
    width: 200px;
    padding: 20px;
    border: 1px solid gray;

    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-8px) scale(1.05);
}

button {
    padding: 10px 20px;

    transition: transform 0.3s;
}

button:hover {
    transform: translateY(-8px) scale(1.05);
}